# Ignoring directories generated during project build
build/
Debug/
Release/

# Ignore IDE temporary files
**/.idea/
**/.vscode/
**/*.swp
**/*.swo
**/*.asv

# Ignore system temporary files
*.tmp
*.log
*.bak
*.sav
*.DS_Store
Thumbs.db

# Ignoring binaries and objects
*.o
*.d
*.a
*.elf
*.bin
*.hex
*.map

# Ignoring CMake files
CMakeFiles/
CMakeCache.txt
cmake-build-*/

# Ignore debugger configurations
*.launch
**/__pycache__/

# Preserve CubeMX, CubeIDE and CMSIS DSP configurations
!*.ioc
!*.project
!*.cproject
!.mxproject
!.settings/

# Ignore generated code
#Middlewares/
#Drivers/

